<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>爱情故事</title>
	<script src="/static/jscss/jquery.min.js"></script>
	<link rel="stylesheet" href="/static/jscss/min.css">
</head>

<body class="ft-absolute-nav" >
	<div class="flowtime" style="transform: translateX(-500%) translateY(0%);">
		<div class="ft-section section-1" >
			<div id="" class="ft-page page-1 past-section" >
				<p class="text1">I love you , xiaoyueyue </p>
				<p class="text2">亲爱的，按键盘 "↓" 开始我们的浪漫之旅！！！（上下左右键都能用呦）</p>
			</div>
			<div id="" class="ft-page page-2 past-section future-page" >
			
				<img src="/static/jscss/幻灯片1.jpg" >
			</div>
			<div id="" class="ft-page page-3 left-img past-section future-page">
				
				<img src="/static/jscss/幻灯片2.jpg" >
			</div>
			<div id="" class="ft-page page-4 full-img past-section future-page" >
				
				<img src="/static/jscss/幻灯片3.jpg" >
			</div>
		</div>
		<div class="ft-section section-2" >
			<div id="" class="ft-page page-5 full-img past-section" >
			
				<img src="/static/jscss/幻灯片4.jpg" alt="">
			</div>
			<div id="" class="ft-page page-6 past-section future-page" >
				
				<img src="/static/jscss/幻灯片5.jpg" alt="">
			</div>
			<div id="" class="ft-page page-7 past-section future-page" >
				
				<img src="/static/jscss/幻灯片6.jpg" alt="">
			</div>
			<div id="" class="ft-page page-8 full-img past-section future-page" >
				
				<img src="/static/jscss/幻灯片7.jpg" alt="">
			</div>
			<div id="" class="ft-page page-9 past-section future-page" >
				
				<img src="/static/jscss/幻灯片8.jpg" alt="">
			</div>
			<div id="" class="ft-page page-10 past-section future-page" >
			
				<img src="/static/jscss/幻灯片9.jpg" alt="">
			</div>
		</div>
		<div class="ft-section section-3" >
			<div id="" class="ft-page page-11 full-img past-section" >
				
				<img src="/static/jscss/幻灯片10.jpg" alt="">
			</div>
			<div id="" class="ft-page page-12 past-section future-page" >
					<h3>亲爱的，我每一天每一分钟每一秒<br>都在想着你</h3>
				
				<img src="/static/jscss/幻灯片11.jpg" alt="">
			</div>
			<div id="" class="ft-page page-13 past-section future-page" >
				<img src="/static/jscss/幻灯片12.jpg" alt="">
				
			</div>
			<div id="" class="ft-page page-14 left-img past-section future-page" >
		
				<img src="/static/jscss/幻灯片13.jpg" alt="">
			</div>
			<div id="" class="ft-page page-15 left-img past-section future-page" >
				
				<img src="/static/jscss/幻灯片14.jpg" alt="">
			</div>
			<div id="" class="ft-page page-16 left-img past-section future-page" >
			
				<img src="/static/jscss/幻灯片16.jpg" alt="">
			</div>	
			<div id="" class="ft-page page-17 left-img past-section future-page" >
			
				<img src="/static/jscss/幻灯片16.jpg" alt="">
			</div>					
		</div>
		<div class="ft-section section-4" >
			<div id="" class="ft-page page-18 full-img past-section" >
				<p class="text">航航看见小月月的出现，航航脸上有了更加灿烂的笑容</p>
				<img src="/static/jscss/iali11.jpg" alt="">
			</div>
			<div id="" class="ft-page page-19 past-section future-page" >
				<h3>可是小月月会喜欢航航吗？</h3>
				<img src="/static/jscss/iali75.jpg" alt="">
			</div>
			<div id="" class="ft-page page-20 past-section future-page" >
				<img src="/static/jscss/iali59.png" alt="">
				<h3>终于有一天，航航鼓起了勇气</h3>
				<img src="/static/jscss/iali9.jpg">
			</div>
			<div id="" class="ft-page page-21 past-section future-page" >
				<h3>航航好高兴</h3>
				<img src="/static/jscss/iali59.png" alt="">
			</div>
			<div id="" class="ft-page page-22 left-img past-section future-page" >
				<h3>每天航航都会去找小月月</h3>
				<img src="/static/jscss/iali4.jpg" alt="">
			</div>
			<div id="" class="ft-page page-23 left-img past-section future-page" >
				<h3>然后两个人一起出去玩</h3>
				<img src="/static/jscss/iali44.jpg" alt="">
			</div>
			<div id="" class="ft-page page-24 full-img past-section future-page" >	
				<h3>晚上航航会把小月月送回家</h3>
				<img src="/static/jscss/iali32.jpg" alt="">
			</div>
		</div>
		<div class="ft-section section-5" >
			<div id="" class="ft-page page-25 left-img past-section" >
				<h3>直到很晚<br>航航才会一个人回家</h3>
				<img src="/static/jscss/iali37.jpg" alt="">
			</div>
			<div id="" class="ft-page page-26 top-text past-section future-page" >
				<h3>然后高兴地进入梦乡，希望梦到小月月</h3>
				<img src="/static/jscss/iali10.gif" alt="">
			</div>
			<div id="" class="ft-page page-27 past-section future-page" >
				<h3>航航很快成为了小月月的忠实小跟班</h3>
				<img src="/static/jscss/iali67.jpg" alt="">
			</div>
			<div id="" class="ft-page page-28 past-section future-page" >
				<h3>航航想要带小月月去很多好地方玩</h3>
				<img src="/static/jscss/iali40.jpg" alt="">
			</div>
			<div id="" class="ft-page page-29 past-section future-page" >
				<h3>航航也和小月月一样成为了一个吃货</h3>
				<img src="/static/jscss/iali12.jpg" alt="">
			</div>
			<div id="" class="ft-page page-30 past-section future-page" >
				<h3>后来后来...</h3>
				<img src="/static/jscss/iali76.gif" alt="">
			</div>
			<div id="" class="ft-page page-31 past-section future-page" >
				<h3>于是航航开始学习新的技能</h3>
				<img src="/static/jscss/iali77.jpg" alt="">
			</div>
		</div>
		<div class="ft-section section-6" >
			<div id="" class="ft-page page-32 hilite actual" >
				<h3>煮饭</h3>
				<img src="/static/jscss/iali62.jpg" alt="煮饭">
			</div>
			<div id="" class="ft-page page-33 top-text future-page" >
				<h3>每天早上，他们吃着自己做的美食</h3>
				<img src="/static/jscss/iali3.jpg" alt="">
			</div>
			<div id="" class="ft-page page-34 left-img future-page" >
				<h3>幸福快乐</h3>
			</div>
			<div id="" class="ft-page page-35 future-page" >
				<h3>航航感觉自己很幸福。<br>因为自己身边有了<br>小月月</h3>
				<img src="/static/jscss/iali8.gif" alt="">
			</div>
			<div id="" class="ft-page page-36 full-img future-page" >
				<h3>他们偶尔也会吵架</h3>
				<img src="/static/jscss/iali31.jpg" alt="">
			</div>
			<div id="" class="ft-page page-37 left-img future-page" >
				<h3>航航不想这样</h3>
				<img src="/static/jscss/iali49.jpg" alt="">
			</div>
			<div id="" class="ft-page page-38 bottom-text future-page" >
				<img src="/static/jscss/iali21.jpg" alt="">
				<h3>一定是我有什么做的不对，航航在想</h3>
			</div>
		</div>
		<div class="ft-section section-7" >
			<div id="" class="ft-page page-39 left-img future-section" >
				<h3>如果没有小月月在身边，窗外就没有风景</h3>
				<img src="/static/jscss/iali2.jpg" alt="">
			</div>
			<div id="" class="ft-page page-40 future-section future-page" >
				<h3>如果没有小月月在身后</h3>
				<img src="/static/jscss/iali14.jpg" alt="{text45_}">
			</div>
			<div id="" class="ft-page page-41 future-section future-page" >
				<img src="/static/jscss/iali30_1.jpg" class="img1" alt="">
				<img src="/static/jscss/iali30_2.jpg" class="img2" alt="">
				<h3>航航又怎会飞的更高更远</h3>
			</div>
			<div id="" class="ft-page page-42 future-section future-page" >
				<h3>航航不想这样。他要为小月月改变自己<br>突然小月月问了航航是什么星座</h3>
				<img src="/static/jscss/iali69.jpg" alt="">
			</div>
			<div id="" class="ft-page page-43 future-section future-page" >
				<img src="/static/jscss/iali42.jpg" alt="">
				<h3>守护你一辈子的狮子座</h3>
			</div>
			<div id="" class="ft-page page-44 left-img future-section future-page" >
				<h3>祝福就像花草一样<br>需要用包容来浇灌</h3>
				<img src="/static/jscss/iali0.jpg" alt="祝福就像花草一样">
			</div>
			<div id="" class="ft-page page-45 left-img future-section future-page" >
				<h3>后来，后来...<br>航航开始为小月月买礼物</h3>
				<img src="/static/jscss/iali18.jpg" alt="">
			</div>
		</div>
		<div class="ft-section section-8" >
			<div id="" class="ft-page page-46 future-section" >
				<img src="/static/jscss/iali57.gif" alt="">
				<h3>
					<span>看着礼物一件件准备好了</span>
					<span>航航好开心</span>
					<span>因为他想象着小月月收到礼物时</span>
					<span>开心的样子</span>
				</h3>
			</div>
			<div id="" class="ft-page page-47 top-text future-section future-page" >
				<img src="/static/jscss/iali58.jpg" alt="">
				<h3>
					<span>想想后面还有一辈子</span>
					<span>航航好开心</span>
					<span>因为可以和小月月</span>
					<span>去全世界好多地方玩</span>
				</h3>
			</div>
			<div id="" class="ft-page page-48 left-img future-section future-page" >
				<p>航航也会继续努力<br>为了他和小月月的梦之城堡</p>
				<img src="/static/jscss/iali65.jpg" alt="">
			</div>
			<div id="" class="ft-page page-49 full-img future-section future-page" >
				<p class="text">航航很幸福，因为他找到了小月月。他相信后面的每天都会是快乐的<br>简简单单，体会着与小月月在一起的每一个刻</p>
				<img src="/static/jscss/iali71.jpg" alt="">
			</div>
			<div id="" class="ft-page page-50 future-section future-page" >
				<p class="text">后来的一天，小月月说脖子疼，航航于是给她揉揉肩捶捶背。这只是他们幸福生活中的一件小事，小到无法引起别人的注意。可这是属于航航和小月月的幸福生活。</p>
				<img src="/static/jscss/iali50_1.jpg" class="img1" alt="">
				<img src="/static/jscss/iali50_2.jpg" class="img2" alt="">
			</div>
			<div id="" class="ft-page page-51 future-section future-page" >
				<p class="text">小月月：永远有多远？<br>
					航  航：比时间多一秒就是永远，我会永远祝福你<br>
					小月月：世界有多大？<br>
					航  航：你走到哪里，世界就有多大</p>
				<img src="/static/jscss/iali50_1.jpg" class="img1" alt="">

			</div>
		</div>
		<div class="ft-section section-9" >
			<div id="" class="ft-page page-52 full-img future-section" >
				<h3>愿得一人心，白首不相离</h3>
				<img src="/static/jscss/iali20.jpg" alt="">
			</div>
			<div id="" class="ft-page page-53 future-section future-page" >
				<img src="/static/jscss/iali68.jpg" alt="">
				<h3>天天快乐</h3>
			</div>
			<div id="" class="ft-page page-54 future-section future-page" >
				<img src="/static/jscss/iali68.jpg" alt="">
				<h3>一直幸福</h3>
			</div>
			<div id="" class="ft-page page-55 right-img future-section future-page" >
				<img src="/static/jscss/14915.jpg" alt="">
				<p class="text">
					相信像这样的故事会一直延续下去。<br>
					无论精彩、平淡都会是他们喜欢的。<br>
					<br>
					<br>
					<span> -- 按“Esc"键有惊喜</span>
				</p>				
			</div>
		</div>
	</div>
	
		
	<div class="ft-default-progress">
		<div data-section="__0" class="ft-section-thumb thumb-section-0">
			<div class="ft-page-thumb thumb-page-0" data-section="__0" data-page="__0"></div>
			<div class="ft-page-thumb thumb-page-1" data-section="__0" data-page="__1"></div>
			<div class="ft-page-thumb thumb-page-2" data-section="__0" data-page="__2"></div>
			<div class="ft-page-thumb thumb-page-3" data-section="__0" data-page="__3"></div>
		</div>
		<div data-section="__1" class="ft-section-thumb thumb-section-1">
			<div class="ft-page-thumb thumb-page-0" data-section="__1" data-page="__0"></div>
			<div class="ft-page-thumb thumb-page-1" data-section="__1" data-page="__1"></div>
			<div class="ft-page-thumb thumb-page-2" data-section="__1" data-page="__2"></div>
			<div class="ft-page-thumb thumb-page-3" data-section="__1" data-page="__3"></div>
			<div class="ft-page-thumb thumb-page-4" data-section="__1" data-page="__4"></div>
			<div class="ft-page-thumb thumb-page-5" data-section="__1" data-page="__5"></div>
		</div>
		<div data-section="__2" class="ft-section-thumb thumb-section-2">
			<div class="ft-page-thumb thumb-page-0" data-section="__2" data-page="__0"></div>
			<div class="ft-page-thumb thumb-page-1" data-section="__2" data-page="__1"></div>
			<div class="ft-page-thumb thumb-page-2" data-section="__2" data-page="__2"></div>
			<div class="ft-page-thumb thumb-page-3" data-section="__2" data-page="__3"></div>
			<div class="ft-page-thumb thumb-page-4" data-section="__2" data-page="__4"></div>
			<div class="ft-page-thumb thumb-page-5" data-section="__2" data-page="__5"></div>
			<div class="ft-page-thumb thumb-page-6" data-section="__2" data-page="__6"></div>
		</div>
		<div data-section="__3" class="ft-section-thumb thumb-section-3">
			<div class="ft-page-thumb thumb-page-0" data-section="__3" data-page="__0"></div>
			<div class="ft-page-thumb thumb-page-1" data-section="__3" data-page="__1"></div>
			<div class="ft-page-thumb thumb-page-2" data-section="__3" data-page="__2"></div>
			<div class="ft-page-thumb thumb-page-3" data-section="__3" data-page="__3"></div>
			<div class="ft-page-thumb thumb-page-4" data-section="__3" data-page="__4"></div>
			<div class="ft-page-thumb thumb-page-5" data-section="__3" data-page="__5"></div>
			<div class="ft-page-thumb thumb-page-6" data-section="__3" data-page="__6"></div>
		</div>
		<div data-section="__4" class="ft-section-thumb thumb-section-4">
			<div class="ft-page-thumb thumb-page-0" data-section="__4" data-page="__0"></div>
			<div class="ft-page-thumb thumb-page-1" data-section="__4" data-page="__1"></div>
			<div class="ft-page-thumb thumb-page-2" data-section="__4" data-page="__2"></div>
			<div class="ft-page-thumb thumb-page-3" data-section="__4" data-page="__3"></div>
			<div class="ft-page-thumb thumb-page-4" data-section="__4" data-page="__4"></div>
			<div class="ft-page-thumb thumb-page-5" data-section="__4" data-page="__5"></div>
			<div class="ft-page-thumb thumb-page-6" data-section="__4" data-page="__6"></div>
		</div>
		<div data-section="__5" class="ft-section-thumb thumb-section-5">
			<div class="ft-page-thumb thumb-page-0 actual" data-section="__5" data-page="__0"></div>
			<div class="ft-page-thumb thumb-page-1" data-section="__5" data-page="__1"></div>
			<div class="ft-page-thumb thumb-page-2" data-section="__5" data-page="__2"></div>
			<div class="ft-page-thumb thumb-page-3" data-section="__5" data-page="__3"></div>
			<div class="ft-page-thumb thumb-page-4" data-section="__5" data-page="__4"></div>
			<div class="ft-page-thumb thumb-page-5" data-section="__5" data-page="__5"></div>
			<div class="ft-page-thumb thumb-page-6" data-section="__5" data-page="__6"></div>
		</div>
		<div data-section="__6" class="ft-section-thumb thumb-section-6">
			<div class="ft-page-thumb thumb-page-0" data-section="__6" data-page="__0"></div>
			<div class="ft-page-thumb thumb-page-1" data-section="__6" data-page="__1"></div>
			<div class="ft-page-thumb thumb-page-2" data-section="__6" data-page="__2"></div>
			<div class="ft-page-thumb thumb-page-3" data-section="__6" data-page="__3"></div>
			<div class="ft-page-thumb thumb-page-4" data-section="__6" data-page="__4"></div>
			<div class="ft-page-thumb thumb-page-5" data-section="__6" data-page="__5"></div>
			<div class="ft-page-thumb thumb-page-6" data-section="__6" data-page="__6"></div>
		</div>
		<div data-section="__7" class="ft-section-thumb thumb-section-7">
			<div class="ft-page-thumb thumb-page-0" data-section="__7" data-page="__0"></div>
			<div class="ft-page-thumb thumb-page-1" data-section="__7" data-page="__1"></div>
			<div class="ft-page-thumb thumb-page-2" data-section="__7" data-page="__2"></div>
			<div class="ft-page-thumb thumb-page-3" data-section="__7" data-page="__3"></div>
			<div class="ft-page-thumb thumb-page-4" data-section="__7" data-page="__4"></div>
			<div class="ft-page-thumb thumb-page-5" data-section="__7" data-page="__5"></div>
		</div>
		<div data-section="__8" class="ft-section-thumb thumb-section-8">
			<div class="ft-page-thumb thumb-page-0" data-section="__8" data-page="__0"></div>
			<div class="ft-page-thumb thumb-page-1" data-section="__8" data-page="__1"></div>
			<div class="ft-page-thumb thumb-page-2" data-section="__8" data-page="__2"></div>
			<div class="ft-page-thumb thumb-page-3" data-section="__8" data-page="__3"></div>
		</div>
	</div>

	<script src="/static/jscss/all.min.js"></script>
	<script src="/static/jscss/love.js"></script>
</body>
</html>